/* Используем Flexbox для расположения элементов по всей высоте экрана */
body {
    background-color: #2b2b2b; /* Тёмно-серый фон */
    color: #e0e0e0; /* Светлый цвет текста */
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Элементы будут располагаться вертикально */
    min-height: 100vh; /* Минимальная высота - 100% высоты окна просмотра */
}

/* Стили для шапки страницы */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; /* Устанавливаем относительное позиционирование для дочерних элементов */
}

/* Стили для контейнера с основными кнопками */
.main-buttons {
    display: flex;
    justify-content: center; /* Центрируем кнопки внутри контейнера */
    gap: 15px;
}

.button {
    background-color: #e74c3c;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    padding: 8px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #c0392b;
}

/* Стили для кнопки "выйти" */
.logout-button {
    background-color: #2b2b2b; /* Фон как у основного фона страницы */
    color: #e74c3c; /* Красный цвет текста */
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    padding: 6px 15px;
    border: 1px solid #e74c3c; /* Красноватая обводка */
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    right: 40px; /* Отступ справа */
}

.logout-button:hover {
    background-color: #383838; /* Цвет фона при наведении */
}

/* Стили для разделительных линий. Теперь они на всю ширину */
.divider {
    border: none;
    border-top: 1px solid #4a4a4a; /* Тонкая серая линия */
    width: 100%;
    margin: 15px 0;
}

.text-content {
    font-size: 16px;
    line-height: 1.6;
}

/* Стили для подвала со ссылкой на GitHub */
.footer {
    padding-bottom: 20px;
    text-align: center;
}

.github-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.github-link:hover {
    color: #2980b9;
    text-decoration: underline;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-direction: column; /* Располагает дочерние элементы вертикально */
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Расстояние между элементами внутри контейнера */
}

.welcome-text {
    font-size: 3rem; /* Делает текст "Добро пожаловать!" крупнее */
    margin: 0; /* Убирает стандартные отступы у h1 */
    font-weight: bolder;
}

.time-text {
    font-size: 2rem; /* Делает время крупнее */
    margin: 0;
    font-weight: bolder;
}