<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моя страница{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='icons/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>

    <header class="header">
        <div class="main-buttons">
            <button class="button" hx-get="/profile" hx-target="#content" hx-push-url="true">профиль</button>
            <button class="button" hx-get="/recurring_tasks" hx-target="#content" hx-push-url="true">повторяющиеся задачи</button>
            <button class="button" hx-get="/tasks" hx-target="#content" hx-push-url="true">задачи</button>
        </div>
        
        <button class="logout-button">выйти</button>
        
        <hr class="divider top-divider">
    </header>

    <main class="main-content">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <hr class="divider">
        <a href="https://github.com/Nespokoyniy/my-server" class="github-link" target="_blank">My GitHub</a>
    </footer>

    <script src="/static/js/main.js"></script>

</body>
</html>